body {
    margin: 0;
    padding: 0;
}

.head-area {
    margin-top: 30px;
    width: 100%;
    height: 150px;
    position: relative;
    background: rgb(116, 35, 61);
}

.head-area p {
    margin: 18px 50px;
    text-align: right;
    color: white;
    font-size: 26px;    
}

.head-title {
    word-spacing:5px;
    letter-spacing:5px;
}

.main-area {
    width: 1200;
    height: auto;
}

.main-container {
    margin: 20px 30px;
    padding: 30px;
}

/* 게시판 ~ search area */

.search-category-area {
    display: grid;
    margin: 10px 40px;
    justify-content: space-between;

    grid-template-columns: 67% 33%;
    background-color: #ffc549;
}

.head-category-wrapper {
    display: flex;
    justify-content: left;
    height: 72px;
    width: auto;
    padding: 10px, 10px, 10px, 10px;
}


/***** search area *****/

.search-box {
    margin-top: 14px;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    grid-column: 2;
}

.container-input {
    position: relative;
}
  
.input {
    width: 150px;
    padding: 10px 0px 10px 30px;
    border-radius: 9999px;
    border: solid 1px #707070;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

/***** 버튼 css *****/

.button-box {
    display: flex;
    margin: 5px 55px; 
    float: right;
}

/* 북마크 button css */

.bookmark {
    margin-right: 15px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}
  
.container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 48px;
    width: 48px;
    transition: all 0.3s;
    fill: #666;
}
  
.container svg:hover {
    transform: scale(1.2);
}
  
.container input:checked ~ svg {
    fill: #ffc549;
}

/* 새 글 쓰기 button */

.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: #9e2070;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}
  
.Btn-svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}
  
.Btn:hover {
    color: transparent;
}
  
.Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}
  
.Btn:active {
    transform: translate(0, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px #6a154b;
}

/* 공지 버튼 buttun */
.content-button-box {
    margin-left: auto;
}

.noti-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 30px;
    border: none;
    padding: 0px 15px;
    background-color: #909090;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}

.bell {
    width: 15px;
    position: absolute;
    right: 0;
    margin-right: 14px;
    fill: white;
    transition-duration: .3s;
}
  
.bell path {
    fill: white;
}
  
.noti-button:hover {
    color: transparent;
}
  
.noti-button:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}
  
.noti-button:active {
    transform: translate(0, 3px);
    transition-duration: .3s;
}


/* main-content! 글 내용 area */

.main-content-wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 30px 30px auto 50px;
}

.main-content-wrapper h2 {
    margin: 0 auto;
    color: #454545;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.content-button-box {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content-view-box{
    display: flex;
    margin: auto;
    margin-left: 10px;
    margin-right: 40px;
}

.content-view-box img {
    text-align: center;
    width: 23px;
    height: 18px;
}

.text-view-content {
    text-align: center;
    margin-left: 4px;
    color: #dddddd;
    font-weight: 400;
    font-size: 1.1rem;
}

.content-info-box {
    display: flex;
    margin: 8px auto;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    color: #dddddd;

    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.content-info-box a {
    margin-right: 8px;
}

.content-info-box li {
    margin-right: 8px;
}

.main-text-content {
    margin: auto;
    padding: 20px 10px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.main-text-content pre {
    color: #454545;
    font-size: large;
    white-space: pre-wrap;
}


/* like ~ 글 수정 삭제 버튼 area */

.like-box {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

/* like 버튼 */
.like-button {
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
}
  
.like-button:hover > .icon {
    transform: scale(1.2);
    cursor: pointer;
    transition: .2s linear;
}
  
.like-button:focus > .icon {
    fill: #fd1853;
    animation: grosseur .2s linear;
}
  
@keyframes grosseur {
0% {
    width: 40px;
    height: 40px;
    fill: #d50087;
}

100% {
    width: 30px;
    height: 30px;
    fill: #fd1853;
}
}

/* like 수 */
.like-box p {
    margin-right: 40px;
}


/* 글 수정 삭제 버튼 */
.content-edit-button {
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    border: none;
    padding: 0px 5px;
    background-color: #909090;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}

.content-edit-button:hover {
    background-color: #707070;
}
  
.content-edit-button:active {
    transform: translate(0, 3px);
    transition-duration: .3s;
}


.content-delete-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    border: none;
    padding: 0px 5px;
    background-color: #909090;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .3s;
}
    
.content-delete-button:hover {
    background-color: #707070;
}
    
.content-delete-button:active {
    transform: translate(0, 3px);
    transition-duration: .3s;
}


/* sub-content! 댓글 input area */

.sub-input-wrapper {
    margin: 30px 0px ;
    display: grid;

    grid-template-columns: 100px 80% 90px;
    grid-template-rows: 90px;
}

.sub-text-info {
    display: flex;
    grid-column: 1 / 2;
}
.sub-text-info p{
    margin-right: 3px;
    padding-top: 20px;

}

.input-sub-text {
    width: 98%;
    grid-column: 2 / 3;
}

.input-submit {
    grid-column: 3 / 4;
}



/* 댓글 내용 area */

.sub-content-wrapper {
    display: grid;
    
    grid-template-columns: 95%;
    grid-template-rows: auto auto auto auto auto;
}

.sub-text-content {
    display: block;
    list-style-type: none;
}

.comment-box {
    height: 80px auto;
    grid-column: 1 / 2;
}

.comment {
    position: absolute;
    color:#454545;
}

.comment-card {
    display: grid;
    grid-template-columns: 120px auto 200px;
    grid-template-rows: 30px auto;

    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    box-shadow: rgba(160, 160, 160, 0.4) 0px 2px 4px, rgba(195, 195, 195, 0.3) 0px 7px 13px -3px, #dddddd 0px -3px 0px inset;
}

.comment-author {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.comment-date {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.comment-text {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.comment-func-box {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


.cocomment-card {
    height: 80px;
    grid-column: 1 / 2;
    color:#454545;
    background-color:aquamarine;

}